<div class="footer">
  <ul class="list-inline">
    <li>
      <a href="https://www.youtube.com/user/stonefilmsnyc" target="_blank">
      <i class="fa fa-youtube fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/stonefilmsnyc/?hl=es" target="_blank">
      <i class="fa fa-instagram fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/TheNyhcChronicles19792015/?fref=ts" target="_blank">
      <i class="fa fa-facebook fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/StoneFilmsNYC" target="_blank">
      <i class="fa fa-twitter fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="http://www.stonefilmsnyc.com/" target="_blank">
      <i class="fa fa-film fa-2x"></i>
      </a>
    </li>
  </ul>
  <p>
    Made with PMA for Drew Stone by <a href="www.theitmerchant.com">The IT Merchant</a> 2017
  </p>
</div>
