<!-- EXPLANATION ICONS START HERE -->
<div class="container">
  <div class="row">

    <% data.about.each do |item| %>

    <div class="col-xs-6 col-lg-3">
      <div class="explanation-icon text-center">
        <%= image_tag item[:image] %>
        <h3>
          <%= item[:name] %>
        </h3>
        <%= partial "text_modal", locals: { modal_text: item[:text], modal_name: item[:name], modal_identifier: item[:identifier] } %>
      </div>
    </div>
    
    <% end %>

  </div>
</div>
