---
title: "STONE FILMS NYC presents: The NYHC Chronicles a film by DREW STONE"
---

<%= partial "banner", locals: { banner_image: "wallpaper_image.jpg" } %>

<%= partial "icons" %>

<%= partial "cards" %>

<%= partial "contact" %>

<div class="splash-container">
  <div class="splash"></div>
</div>